.backdrop {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #8b8b8b;
  border-right: 4px solid transparent;
  animation: rotation 1s linear infinite;
}

.loader:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  border-left: 4px solid #0065c3;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
