.form {
  margin: 0 auto;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.label {
  position: relative;
  margin-bottom: 15px;
}

.error {
  text-align: center;
  width: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 196px;
  font-size: 15px;
  color: #bf1650;
  margin-top: -10px;
}

.error::before {
  display: inline;
  content: '⚠ ';
}
