:root {
  --mainColor: #1976d2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecf0f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ecf0f3;
  padding: 15px;
  width: calc(100% - 15px);
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 20px;

  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}
@media screen and (min-width: 515px) {
  .app {
    width: 500px;
  }
}
